<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-button routerLink="/normal" routerDirection="forward">Launch Normal Page</ion-button>
	<ion-button routerLink="/slow" routerDirection="forward">Launch Slow Page</ion-button>
</ion-content>
